*, *:before, *:after { box-sizing: border-box; }
* { margin: 0; }

body {
    line-height: 1.6;
    background: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-row {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px;
    margin-bottom: 20px;
}

.header {
    flex: 2;
    text-align: center;
}

.header h1 {
    font-size: 4rem;
    color: #2a2a2a;
    margin-bottom: 10px;
    line-height: 1.2;
}

.header h1 span {
    font-size: 3rem;
    display: block; 
}

.header .subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

.feature-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image img {
    width: 100%;
    max-width: 30rem; 
    height: auto;
    border-radius: 10px;
}

.feature-image figcaption {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    font-style: italic;
}

.name{
    margin-left: 6px;
    margin-right: 6px;
    font-weight: bold;
}

.namedate{
    display: flex;
}

/* Main Content Layout */
.first-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.abstract {
    flex: 3;
    background: white;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: center;
}

.main-article {
    flex: 3;
    padding: 20px;
    line-height: 2;
}

.main-article #introduction {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-article .content {
    font-size: 1.2rem;
}



/* SIDEBAR */
.sidebar {
    flex: 1;
    background: #2a2a2a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    background: #444;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.sidebar nav ul li a:hover {
    background: #666;
}

h2 {
    margin-top: 40px;
    font-family: "Times New Roman", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.wrapped-image1 {
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 600px;
    border-radius: 2px;
    text-align: center;
}

.wrapped-image1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapped-image1 p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    font-style: italic;
}

.wrapped-image2 {
    float: right;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 400px;
    border-radius: 2px;
    text-align: center;
}

.wrapped-image2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapped-image2 p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    font-style: italic;
}

.wrapped-image3 {
    float: right;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 600px;
    border-radius: 2px;
    text-align: center;
}

.wrapped-image3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapped-image3 p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    font-style: italic;
}

.wrapped-image4 {
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 400px;
    border-radius: 2px;
    text-align: center;
}

.wrapped-image4 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapped-image4 p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
    font-style: italic;
}



/* Footer Styles */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}
